
@import './utils/variables';

@import './layout/header';
@import './layout/footer';
@import './layout/menu';

@import './pages/homepage';

@import './components/animations';

html {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	position: relative;
}

#loader-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #d7d7d7;
	animation: loader-kf 2000ms;
	animation-fill-mode: forwards;
}

#loader-bar {
	z-index: 9999;
	position: absolute;
	top: 150px;
	left: 20%;
	width: 60%;
	height: 30px;
	background: linear-gradient(90deg, #9356dc 0%, #ff79da 100%);
	border-radius: 25px;
	transform: scaleX(0);
	transform-origin: left;
	animation: loader-bar-kf 2000ms;
}

@keyframes loader-kf {
	0% {
		opacity: 1;
	}

	95% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes loader-bar-kf {
	0% {
		transform: scaleX(0);
	}

	99% {
		transform: scaleX(1);
		opacity: 1;
	}

	100% {
		transform: scaleX(1);
		opacity: 0;
	}
}

@media (min-width: 769px) {
	body {
		width: 100%;
	}
}