/* Color theme */
header {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo {
  background-color: #FFF;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: center;
}
header .logo img {
  width: 200px;
  padding-bottom: 10px;
}

.location {
  height: 50px;
  width: 100%;
  font-size: 16px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-field i {
  color: #353535;
}

.search-field input {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  width: 120px;
}

.back-main-page {
  position: absolute;
  top: 25px;
  left: 20px;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-content {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-content img {
  height: 27px; /* Safari/Chrome */
  filter: invert(100%);
}

.footer-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-content ul li {
  font-size: 16px;
}

.footer-content ul li i {
  margin-right: 10px;
}

.fa-handshake {
  transform: rotate(-45deg);
}

.partner {
  margin-left: -6px;
}

@media (min-width: 769px) {
  .footer-content {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
    margin-top: 80px;
    margin-left: 30%;
  }
  .footer-content ul {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }
  .footer-content ul li {
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
  }
}
.top-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -40px;
  overflow: hidden;
}
.menu-card .restaurant-title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--black, #101010);
  font-size: 20px;
  font-weight: 400;
}
.menu-card .restaurant-title h2 {
  font-family: Shrikhand;
  padding-left: 15px;
}
.menu-card .restaurant-title .like-button {
  right: 60px;
  top: 30px;
  position: absolute;
}

.menu-part {
  display: flex;
  flex-direction: column;
}
.menu-part h3 {
  font-size: 16px;
  font-weight: 300;
  margin-left: 5%;
}
.menu-part h3 hr {
  background-color: #99e2d0;
  height: 3px;
  width: 40px;
  margin: 0;
  border: none;
}

.menu-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.part-choice {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 340px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  height: 100%;
}
.part-choice label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.part-choice label .choice-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  max-width: 90%;
  justify-content: space-around;
  padding-left: 5%;
}
.part-choice label .choice-text h4 {
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  width: auto;
  color: black;
  text-overflow: ellipsis;
}
.part-choice label .choice-text .trimming {
  width: auto;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}
.part-choice label .price-and-selected {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  transition: transform 300ms ease-in-out;
  transform: translateX(50%);
  padding: 0;
  margin: 0;
}
.part-choice label .price-and-selected .part-price {
  display: flex;
  width: 50%;
  height: 90%;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  text-align: center;
}
.part-choice label .price-and-selected .choice-selected {
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: transform 300ms ease-in-out;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.part-choice label .price-and-selected .choice-selected i {
  text-align: center;
  font-size: 25px;
  color: white;
}
.part-choice .choice-checkbox {
  display: none;
}
.part-choice .choice-checkbox:checked + .price-and-selected {
  transform: translateX(0%);
}

.show-1 {
  animation: show-display 800ms 0ms;
  transform: translateX(2000px);
  animation-fill-mode: forwards;
}

.show-2 {
  animation: show-display 800ms 500ms;
  transform: translateX(2000px);
  animation-fill-mode: forwards;
}

.show-3 {
  animation: show-display 800ms 1000ms;
  transform: translateX(2000px);
  animation-fill-mode: forwards;
}

@keyframes show-display {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.order-validation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-order {
  width: 200px;
  text-align: center;
  font-size: 16px;
  border-radius: 25px;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  color: white;
}

@media (min-width: 769px) {
  .restaurant-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurant-main .menu-card {
    width: 70%;
  }
  .restaurant-main .menu-card .restaurant-title {
    justify-content: center;
  }
  .restaurant-main .menu-card .like-button {
    right: 33%;
  }
  .menu-part {
    margin-top: 20px;
  }
  .menu-part h3 {
    margin-left: 20%;
    margin-bottom: 0;
  }
  .menu-part .menu-choices .part-choice {
    width: 60%;
  }
  .price-and-selected {
    width: 20%;
  }
}
/* Discover	*/
main {
  width: 100%;
}

.discover {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  align-items: center;
}

.discover h2 {
  font-size: 24px;
  width: 275px;
  text-align: center;
}

.discover span {
  width: 315px;
  color: #353535;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.discover button {
  font-size: 16px;
  border-radius: 25px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: none;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  color: white;
}

/* Process */
.process {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-step {
  margin-top: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  font-size: 16px;
  color: #353535;
  width: 220px;
}

.process-step i {
  margin-right: 10px;
}

.restaurant-icon {
  color: #9356DC;
}

.process-number {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  margin-left: -48px;
  margin-right: 20px;
  background-color: #9356DC;
  color: #fff;
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 50%;
  text-align: center;
}

/* Restaurants */
.restaurants {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 20px;
  padding-bottom: 80px;
}
.restaurants h2 {
  margin-left: 20px;
}

.restaurants-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.restaurant-card {
  height: 250px;
  max-height: 250px;
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}

.restaurant-card img {
  height: 180px;
  max-height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.restaurant-card-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10%;
}
.restaurant-card-text .like-button {
  float: right;
  margin-right: 15%;
  margin-top: 2%;
}

.restaurant-title {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.restaurant-location {
  font-size: 16px;
}

.new {
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: #99e2d0;
  color: #008766;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 2px;
}

@media (min-width: 769px) {
  .discover h2 {
    width: 100%;
  }
  .discover span {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
  }
  .process {
    display: block;
  }
  .process h2 {
    margin-left: 2%;
  }
  .process .process-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  .restaurants h2 {
    margin-left: 5%;
  }
  .restaurants .restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .restaurants .restaurants-list .restaurant-card {
    width: 40%;
  }
  .restaurants .restaurants-list .restaurant-card .like-button {
    margin-right: 10%;
  }
}
button:hover {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(175deg, #a16be0 0%, #ff93e1 100%);
}

.like-button {
  font-size: 30px;
}
.like-button .like-button-empty {
  opacity: 1;
  position: absolute;
}
.like-button .like-button-full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.like-button .like-button-full:hover {
  opacity: 1;
}
.like-button .like-button-full:hover .like-button-empty {
  opacity: 0;
}

html {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
}

#loader-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d7d7d7;
  animation: loader-kf 2000ms;
  animation-fill-mode: forwards;
}

#loader-bar {
  z-index: 9999;
  position: absolute;
  top: 150px;
  left: 20%;
  width: 60%;
  height: 30px;
  background: linear-gradient(90deg, #9356dc 0%, #ff79da 100%);
  border-radius: 25px;
  transform: scaleX(0);
  transform-origin: left;
  animation: loader-bar-kf 2000ms;
}

@keyframes loader-kf {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader-bar-kf {
  0% {
    transform: scaleX(0);
  }
  99% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}
@media (min-width: 769px) {
  body {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */