
/* Color theme */

$light-turquoise: #99e2d0;
$dark-turquoise: #008766;
$light-blue: #89C8FA;
$dark-blue: #003A68;
$violet: #9356DC;

$light-grey: #EAEAEA;
$light-grey-2: #F6F6F6;
$mid-grey: #7E7E7E;
$grey: #353535;
